.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
}

.pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
}

button.active,
button.active:disabled {
  color: yellowgreen !important;
}
