.button {
  padding: 8px 16px;
  color: white;
  background-color: yellowgreen;
  border: 1px solid yellowgreen;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  width: fit-content;
  outline: none;
  white-space: nowrap;
}

@media (hover: hover) {
  .button:hover {
    background-color: #a2e61b;
    border-color: #a2e61b;
  }
}

.button:disabled {
  background-color: lightgray;
}

.secondary {
  background-color: transparent;
  color: yellowgreen;
}

.wide {
  width: 100%;
}

@media (hover: hover) {
  .secondary:hover {
    background-color: yellowgreen;
    border-color: yellowgreen;
    color: white;
  }
}

.button:active {
  background-color: #709526;
  border-color: #709526;
}

.secondary:disabled {
  border-color: lightgray;
  color: lightgray;
  background-color: white;
}

.button:disabled,
.secondary:disabled {
  cursor: default;
}
