.postList,
.postListPosts {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}



.postList > p {
  padding: 64px 0;
  text-align: center;
  font-size: 2rem;
  color: lightgray;
}

.postListControls {
  display: flex;
  column-gap: 32px;
}
