.post {
  display: flex;
  padding: 16px;
  border: 2px solid yellowgreen;
  justify-content: space-between;
  align-items: center;
  position: relative;
  column-gap: 32px;
}

.post__content {
  display: flex;
  flex-direction: column;
}

.post__content > strong {
  margin-bottom: 4px;
  line-height: 1.4;
  max-width: 75%;
}

.post__content > span {
  color: lightgray;
  font-size: 0.8rem;
  margin-bottom: 16px;
}

.post__content > p {
  line-height: 1.4;
}

.post__id {
  width: fit-content;
  padding: 2px 4px;
  background-color: rgb(237, 237, 237);
  color: rgb(69, 69, 69);
  font-size: 8px;
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 300;
}
