.textInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 4px;
}

.textInput input {
  padding: 8px 16px;
  border: 1px solid lightgray;
  color: black;
  font-size: 1rem;
  width: 100%;
  transition: border-color 0.3s ease-in-out;
  outline: none;
  width: 100%;
}

.textInput label {
  color: gray;
  font-size: 1rem;
  white-space: nowrap;
}

.textInput input::placeholder {
  color: lightgray;
}

.small input {
  font-size: 0.8rem;
  padding: 4px 8px;
}

.small label {
  font-size: 0.8rem;
}

.horizontal {
  flex-direction: row;
  column-gap: 8px;
  align-items: baseline;
}

.textInput input:focus {
  border-color: yellowgreen;
}
